@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../images/main-bg.png), -webkit-gradient(linear, left top, left bottom, from(#C3224D), to(#f5c378));
  background-image: url(../images/main-bg.png), linear-gradient(#C3224D, #f5c378);
  background-attachment: fixed;
  background-size: auto 100vh;
  /* background-repeat: no-repeat; */
  /* background-position: 50% 0; */
  padding: 90px 0;
  color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
}

@media (max-width: 1210px) {
  body {
    padding: 24px 0;
  }
}

@media (max-width: 1080px) {
  body {
    padding: 0 0;
  }
}

::-moz-selection {
  color: #C3224D;
  background-color: #f5c378;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

h1 {
  width: 100%;
  text-align: right;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}

h3 {
  font-weight: 300;
  margin-bottom: 8px;
}

.main-container {
  max-width: 1080px;
  min-height: 700px;
  margin: auto;
  -webkit-box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
          box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
  background-image: radial-gradient(at bottom center, #C3224D, #881734);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: 2s fade-in forwards;
          animation: 2s fade-in forwards;
  position: relative;
}

@media (max-width: 1080px) {
  .main-container {
    -webkit-box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
            box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
    background-image: radial-gradient(at bottom center, rgba(195, 34, 77, 0.8), rgba(136, 22, 51, 0.796));
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-header {
  padding: 96px 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 96px;
}

@media (max-width: 1080px) {
  .main-header {
    padding: 24px 24px 0;
  }
}

@media (max-width: 980px) {
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .main-header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}

@media (max-width: 960px) {
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 884px) {
  .main-header {
    margin-bottom: 0;
  }
}

.main-logo {
  -webkit-animation: 1s apr-frm-rt forwards;
          animation: 1s apr-frm-rt forwards;
  position: absolute;
}

.main-logo svg {
  max-width: 440px;
  width: 440px;
  fill: white;
  stroke-width: 0;
}

@media (max-width: 980px) {
  .main-logo {
    position: relative;
  }
  .main-logo svg {
    max-width: 440px;
    width: 100%;
    fill: white;
    stroke-width: 0;
  }
  .main-header.logo-up .main-logo {
    z-index: 99999;
    position: fixed;
    top: 12px;
  }
  .main-header.logo-up .main-logo svg, .main-header.logo-up .main-logo #XMLID_14 path {
    fill: #222 !important;
  }
}

@-webkit-keyframes apr-frm-rt {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes apr-frm-rt {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-slides {
  position: absolute;
  right: 0;
  top: 30%;
  height: 100%;
  width: 100%;
  -webkit-animation: 1.5s apr-frm-lt forwards;
          animation: 1.5s apr-frm-lt forwards;
  z-index: 2;
}

.main-slides img {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
  max-height: 100%;
}

@media (max-width: 1080px) {
  .main-slides {
    top: 40%;
  }
  .main-slides img {
    right: 0;
  }
}

@media (max-width: 884px) {
  .main-slides {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: auto;
    top: auto;
    -webkit-animation: none;
            animation: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  .main-slides img {
    margin: auto;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@-webkit-keyframes apr-frm-lt {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(10%);
            transform: translateY(-50%) translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

@keyframes apr-frm-lt {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(10%);
            transform: translateY(-50%) translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

/* https://stackoverflow.com/a/28930815/604040 */
.main-slides img {
  -webkit-animation: cross-fade 16s infinite ease-in-out;
          animation: cross-fade 16s infinite ease-in-out;
}

.main-slides img:first-child {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

@-webkit-keyframes cross-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cross-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-header nav {
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 24px;
  position: relative;
  z-index: 999;
}

@media (max-width: 960px) {
  .main-header nav {
    margin-left: 0;
  }
}

.nav-trigger {
  display: none;
}

.nav-trigger:focus {
  outline: 0;
}

.nav-trigger img {
  max-width: 24px;
  display: block;
  opacity: .8;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 520px) {
  .main-header nav {
    position: fixed;
    opacity: 0;
    z-index: -9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 24px;
    padding-bottom: 64px;
  }
  .main-header nav.menu-open {
    opacity: 1;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.898);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 0;
    background-color: #f5c378;
    background-color: #ff395a;
    color: #C3224D;
    z-index: 999;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav-trigger:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.main-header nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-bottom: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5c378), to(#f5c378));
  background-image: linear-gradient(#f5c378, #f5c378);
  background-repeat: no-repeat;
  background-size: 0 2px;
  background-position: 50% 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-header nav a:hover, .main-header nav a.is-current {
  background-size: 100% 2px;
}

.main-header nav a span {
  text-transform: uppercase;
}

.main-header nav a + a {
  margin-left: 24px;
}

@media (max-width: 520px) {
  .main-header nav a {
    color: #C3224D;
    background-position: 0 100%;
    font-size: 1.4rem;
  }
  .main-header nav a + a {
    margin-left: 0;
    margin-top: 24px;
  }
}

.main-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #f5c378;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Alegreya', serif;
  position: relative;
  padding: 0 96px 96px;
}

@media (max-width: 884px) {
  .main-content {
    width: 100%;
    padding: 0 24px 96px;
  }
}

.main-intro {
  max-width: 400px;
  padding-top: 48px;
  line-height: 1.4;
  font-size: 1.2rem;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #b7b7b7;
}

.main-intro blockquote {
  margin-bottom: 12px;
  font-weight: 300;
}

.main-intro cite {
  font-size: 1.2rem;
}

@media (max-width: 884px) {
  .main-intro {
    max-width: 100%;
    margin: auto;
  }
}

.main-intro p + p {
  margin-top: 24px;
}

.main-footer {
  max-width: 1080px;
  margin: auto;
  color: #222;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc-med {
  margin-right: 24px;
}

.soc-med a {
  text-decoration: none;
}

.soc-med a + a {
  margin-left: 4px;
}

.gallery-content {
  width: 100%;
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 0;
          column-gap: 0;
  visibility: hidden;
}

.gallery-content:hover .gallery-content-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery-content:hover .gallery-content-item img:hover {
  -webkit-filter: none;
          filter: none;
}

@media (max-width: 650px) {
  .gallery-content {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media (max-width: 480px) {
  .gallery-content {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.gallery-content-item {
  width: 100%;
  visibility: visible;
  cursor: pointer;
  padding: 1.5px;
  display: block;
}

.gallery-content-item img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.pop-theatre {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);
}

.pop-theatre .pop-vid-container {
  max-width: 70%;
  margin: auto;
  margin-top: 96px;
}

.pop-theatre .pop-asprat {
  height: 0;
  position: relative;
  padding-top: 56.25%;
}

.pop-theatre iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  .pop-theatre .pop-vid-container {
    max-width: 90%;
    margin-top: 96px;
  }
}

.pop-close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 999;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.about-portrait {
  margin-right: 32px;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about-portrait img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.about-text {
  color: #dfbf8e;
}

.about-text p {
  margin-bottom: 16px;
}

.about-text ul {
  margin-left: 1rem;
}

.about-text b {
  margin-right: 4px;
}

@media (max-width: 670px) {
  .about-content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 -24px;
  }
  .about-content.about-content--asw {
    background-image: url(../images/asw-bg.jpg);
  }
  .about-content.about-content--moh {
    background-image: url(../images/moh-bg.png);
  }
  .about-content.about-content--bha {
    background-image: url(../images/bha-bg.png);
  }
  .about-content.about-content--act {
    background-image: url(../images/act-bg.png);
    background-size: contain;
  }
  .about-portrait {
    display: none;
  }
  .about-text {
    max-width: 70%;
    position: relative;
    z-index: 1;
    background-color: rgba(21, 4, 8, 0.87);
    margin-left: auto;
    padding: 24px;
  }
  .about-text h2 {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
}

.about-text--spec {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-spec-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.about-spec-images a {
  width: calc(33.333% - 6px);
  max-width: calc(33.333% - 6px);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-spec-images a img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.main-content--contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content--contact > h2 {
  width: 100%;
}

@media (max-width: 350px) {
  .main-content--contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.contact-portrait {
  margin-right: 48px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #f5c378;
  padding-right: 48px;
}

@media (max-width: 980px) {
  #contact {
    border-right: 0;
    padding-right: 0;
    margin-bottom: 48px;
  }
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

@media (max-width: 350px) {
  label {
    width: 100%;
  }
}

.label {
  display: block;
}

input[type=text], textarea {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  font-family: inherit;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 350px) {
  input[type=text], textarea {
    width: 100%;
  }
}

button[type=submit] {
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: transparent;
  border: 1px solid #f5c378;
  color: #f5c378;
  border-radius: 5px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.address address {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .address {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.news-item + .news-item {
  border-top: 1px solid #f5c378;
  padding-top: 48px;
}

@media (max-width: 700px) {
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-item-desc h2 {
  margin-bottom: 12px;
  font-size: 1.8rem;
}

.news-item-desc h2 + p:not(.news-item-venue) {
  margin-top: 24px;
}

.news-item-venue {
  margin-bottom: 24px;
  font-style: italic;
}

.news-thumb-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 400px;
  text-align: center;
  margin-right: 32px;
}

@media (max-width: 700px) {
  .news-thumb-wrapper {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.news-thumb {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news-thumb + .news-thumb {
  margin-left: 8px;
}

.news-thumb img {
  max-width: 100%;
  max-height: 300px;
}

.section-seperator {
  border: 0;
  height: 96px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#981a3c), to(transparent));
  background-image: linear-gradient(#981a3c, transparent);
  position: relative;
  margin: 48px -96px 0;
}

.section-seperator:before {
  content: '';
  background-image: url(../images/main-bg.png);
  background-attachment: fixed;
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 670px) {
  .section-seperator {
    margin: 48px -24px 0;
  }
}

.dl-btn {
  padding: 10px;
  background-color: rgba(34, 34, 34, 0.374);
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  display: inline-block;
  color: #f5c378;
  -webkit-transition: .2s;
  transition: .2s;
}

.dl-btn span {
  display: block;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}

.dl-btn:hover {
  background-color: rgba(245, 195, 120, 0.4);
  color: white;
}

@media (max-width: 670px) {
  .dl-btn {
    background-color: rgba(84, 22, 37, 0.574);
    color: #f5c378;
  }
  .dl-btn:hover {
    background-color: rgba(245, 195, 120, 0.4);
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */