@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../images/main-bg.png), -webkit-gradient(linear, left top, left bottom, from(#C3224D), to(#f5c378));
  background-image: url(../images/main-bg.png), linear-gradient(#C3224D, #f5c378);
  background-attachment: fixed;
  background-size: auto 100vh;
  /* background-repeat: no-repeat; */
  /* background-position: 50% 0; */
  padding: 90px 0;
  color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
}

::-moz-selection {
  color: #C3224D;
  background-color: #f5c378;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

h1 {
  width: 100%;
  text-align: right;
}

h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}

h3 {
  font-weight: 300;
  margin-bottom: 8px;
}

.main-container {
  max-width: 1080px;
  min-height: 700px;
  margin: auto;
  -webkit-box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
          box-shadow: 0 0 50px -10px rgba(15, 20, 41, 0.32);
  background-image: radial-gradient(at bottom center, #C3224D, #881734);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: 2s fade-in forwards;
          animation: 2s fade-in forwards;
  position: relative;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-header {
  padding: 96px 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 96px;
}

.main-logo {
  -webkit-animation: 1s apr-frm-rt forwards;
          animation: 1s apr-frm-rt forwards;
  position: absolute;
}

.main-logo svg {
  max-width: 440px;
  width: 440px;
  fill: white;
  stroke-width: 0;
}

@-webkit-keyframes apr-frm-rt {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes apr-frm-rt {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-slides {
  position: absolute;
  right: 0;
  top: 30%;
  height: 100%;
  width: 100%;
  -webkit-animation: 1.5s apr-frm-lt forwards;
          animation: 1.5s apr-frm-lt forwards;
}

.main-slides img {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
  max-height: 100%;
}

@-webkit-keyframes apr-frm-lt {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(10%);
            transform: translateY(-50%) translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

@keyframes apr-frm-lt {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(10%);
            transform: translateY(-50%) translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

/* https://stackoverflow.com/a/28930815/604040 */
.main-slides img {
  -webkit-animation: cross-fade 16s infinite ease-in-out;
          animation: cross-fade 16s infinite ease-in-out;
}

.main-slides img:first-child {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

@-webkit-keyframes cross-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cross-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-header nav {
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 24px;
  position: relative;
  z-index: 999;
}

.main-header nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-bottom: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5c378), to(#f5c378));
  background-image: linear-gradient(#f5c378, #f5c378);
  background-repeat: no-repeat;
  background-size: 0 2px;
  background-position: 50% 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-header nav a:hover, .main-header nav a.is-current {
  background-size: 100% 2px;
}

.main-header nav a span {
  text-transform: uppercase;
}

.main-header nav a + a {
  margin-left: 24px;
}

.main-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #f5c378;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Alegreya', serif;
  position: relative;
  padding: 0 96px 96px;
}

.main-intro {
  max-width: 400px;
  padding-top: 48px;
  line-height: 1.4;
  text-align: center;
  font-size: 1.2rem;
}

.main-intro p + p {
  margin-top: 24px;
}

.main-footer {
  max-width: 1080px;
  margin: auto;
  color: #222;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc-med {
  margin-right: 24px;
}

.soc-med a {
  text-decoration: none;
  opacity: .8;
}

.soc-med a + a {
  margin-left: 4px;
}

.gallery-content {
  width: 100%;
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 0;
          column-gap: 0;
  visibility: hidden;
}

.gallery-content:hover .gallery-content-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery-content:hover .gallery-content-item img:hover {
  -webkit-filter: none;
          filter: none;
}

.gallery-content-item {
  width: 100%;
  visibility: visible;
  cursor: pointer;
  padding: 1.5px;
}

.gallery-content-item img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.about-portrait {
  margin-right: 32px;
  width: 800px;
  text-align: center;
}

.about-portrait img {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.about-text p {
  margin-bottom: 16px;
}

.about-text--spec {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-spec-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.about-spec-images a {
  width: calc(33.333% - 6px);
  max-width: calc(33.333% - 6px);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-spec-images a img {
  width: 100%;
  max-width: 100%;
}

.main-content--contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content--contact > h2 {
  width: 100%;
}

.contact-portrait {
  margin-right: 48px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #f5c378;
  padding-right: 48px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

.label {
  display: block;
}

input[type=text], textarea {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  font-family: inherit;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

button[type=submit] {
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: transparent;
  border: 1px solid #f5c378;
  color: #f5c378;
  border-radius: 5px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.address address {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  margin: 0 auto;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.news-item + .news-item {
  border-top: 1px solid #f5c378;
  padding-top: 48px;
}

.news-thumb {
  min-width: 400px;
  text-align: center;
  margin-right: 32px;
}

.news-thumb img {
  max-width: 100%;
  max-height: 300px;
}

.section-seperator {
  border: 0;
  height: 96px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#981a3c), to(transparent));
  background-image: linear-gradient(#981a3c, transparent);
  position: relative;
  margin: 0 -96px;
}

.section-seperator:before {
  content: '';
  background-image: url(../images/main-bg.png);
  background-attachment: fixed;
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
}

.dl-btn {
  padding: 10px;
  background-color: #f5c378;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  display: inline-block;
  color: #C3224D;
  -webkit-transition: .2s;
  transition: .2s;
}

.dl-btn span {
  display: block;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}

.dl-btn:hover {
  background-color: rgba(245, 195, 120, 0.4);
  color: white;
}
/*# sourceMappingURL=style.css.map */