body {
    background-image: 
        url(../images/main-bg.png),
        linear-gradient(
            $primaryThemeColor,
            $secondaryThemeColor
            );
    // background-color: $secondaryThemeColor;
    background-attachment: fixed;
    background-size: auto 100vh;
    /* background-repeat: no-repeat; */
    /* background-position: 50% 0; */
    padding: 90px 0;
    color: hsla(0,0%,100%,.7);
    overflow-x: hidden;
    }

@media (max-width: 1210px) {
    body {
        padding: 24px 0;
        }
    }
@media (max-width: 1080px) {
    body {
        padding: 0 0;
        }
    }

::-moz-selection {
    color: $primaryThemeColor;
    background-color: $secondaryThemeColor;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    }

h1 {
    width: 100%;
    text-align: right;
    }

h2 {
    font-size: 2rem;
    margin-bottom: 24px;
    }

h3 {
    font-weight: 300;
    margin-bottom: 8px;
    }