body {
    background-image: url(../images/main-bg.png);
    background-attachment: fixed;
    background-size: auto 100vh;
    /* background-repeat: no-repeat; */
    /* background-position: 50% 0; */
    padding: 90px 0;
    color: hsla(0,0%,100%,.7);
    overflow-x: hidden;
    }

::-moz-selection {
    color: $primaryThemeColor;
    background-color: $secondaryThemeColor;
    }

h1 {
    width: 100%;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    }