.gallery-content {
    width: 100%;
    column-count: 5;
    column-gap: 0;
    visibility: hidden;

    &:hover .gallery-content-item img {
        filter: grayscale(1);

        &:hover {
            filter: none; 
            }
        }
    }

@media (max-width: 650px) {
    .gallery-content {
        column-count: 3;
        }
    }
@media (max-width: 480px) {
    .gallery-content {
        column-count: 2;
        }
    }

.gallery-content-item {
    width: 100%;
    visibility: visible;
    cursor: pointer;
    padding: 1.5px;
    display: block;

    img {
        width: 100%;
        max-width: 100%;
        display: block;
        transition: 1s;
        }
    } 

.pop-theatre {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(34, 34, 34, 0.8);
    // display: flex;

    .pop-vid-container {
        max-width: 70%;
        margin: auto;
        margin-top: 96px;
        }

    .pop-asprat {
        height: 0;
        position: relative;
        padding-top: 56.25%;
        }

    iframe {
        position: absolute;
        top: 0; left:0;
        bottom: 0; right:0;
        height: 100%;
        width: 100%;
        }
    }

@media (max-width: 1000px) {
    .pop-theatre .pop-vid-container {
        max-width: 90%;
        margin-top: 96px;
        }
    }

.pop-close {
    position: absolute;
    top: 24px; right: 24px;
    z-index: 999;
    filter: invert(1);
    cursor: pointer;
    }