.main-header nav {
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 24px;
    position: relative;
    z-index: 999;
    }
.main-header nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-bottom: 3px;
    background-image: 
        linear-gradient(
            $secondaryThemeColor, 
            $secondaryThemeColor
            );
    background-repeat: no-repeat;
    background-size: 0 2px; 
    background-position: 50% 100%;
    transition: .5s;

    &:hover,
    &.is-current {
        background-size: 100% 2px;
        }
    }
    
.main-header nav a span {
    text-transform: uppercase;
    }
.main-header nav a + a {
    margin-left: 24px;
    }