.about-content {
    display: flex;
    margin-bottom: 48px;
    }

.about-portrait {
    margin-right: 32px;
    width: 800px;
    text-align: center;

    img {
        display: inline-block;
        width: auto;
        max-width: 100%; 
        }
    }

.about-text {
    p {
        margin-bottom: 16px;
        }
    }

.about-text--spec {
    align-self: center;
    }   

.about-spec-images {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;

    a {
        width: calc(33.333% - 6px);
        max-width: calc(33.333% - 6px);
        align-self: flex-start;

        img {
            width: 100%;
            max-width: 100%;
            }
        }
    }