.main-footer {
    max-width: $mainContainerWidth;
    margin: auto;
    color: #222;
    padding: 24px;
    display: flex;
    align-items: center;
    }
.soc-med {
    margin-right: 24px;
    }
.soc-med a {
    text-decoration: none;
    // opacity: .8;

    + a {
        margin-left: 4px;
        }    
    }