.main-slides {
    position: absolute;
    right: 0;
    top: 30%;
    // transform: translateY(-40%);
    height: 100%;
    width: 100%;
    animation: 1.5s apr-frm-lt forwards;
    z-index: 2;

    img {
        position: absolute;
        top: 0; 
        right: 10%;
        height: 100%;
        max-height: 100%;
        }
    }
@media (max-width: 1080px) {
    .main-slides {
        top: 40%;

        img {
            right: 0;
            }
        }
    }
@media (max-width: 884px) {
    .main-slides {
        order: -1;
        margin: auto;
        top: auto;
        animation: none;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;

        img {
            margin: auto; 
            width: auto;
            height: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            }
        }
    }


@keyframes apr-frm-lt {
    from {
        opacity: 0;
        transform: translateY(-50%) translateX(10%);
        }
    to {        
        opacity: 1;
        transform: translateY(-50%) translateX(0);
        }
    }

/* https://stackoverflow.com/a/28930815/604040 */
.main-slides img {
	animation: cross-fade 16s infinite ease-in-out;
}

.main-slides img:first-child {
	animation-delay: -8s;
    }

@keyframes cross-fade {
	0% {opacity: 0;}
	30% {opacity: 0;}
	40% {opacity: 1;}
	75% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
    }