.main-content {
    width: 100%;
    flex: 1;
    color: $secondaryThemeColor;
    display: flex;
    font-family: 'Alegreya', serif;
    position: relative;
    padding: 0 96px 96px;
    }

.main-intro {
    max-width: 400px;
    padding-top: 48px;
    line-height: 1.4;
    text-align: center;
    font-size: 1.2rem;
    }
    
.main-intro p + p {
    margin-top: 24px;
    }