.main-header {
    padding: 96px 96px 0;
    display: flex;
    overflow: hidden;
    }

.main-logo {
    animation: 1s apr-frm-rt forwards;
    }

@keyframes apr-frm-rt {
    from {
        opacity: 0;
        transform: translateX(-10%);
        }
    to {
        opacity: 1;
        transform: translateX(0);
        }
    }