.about-content {
    display: flex;
    margin-bottom: 48px;
    }

.about-portrait {
    margin-right: 32px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center; 
    display: flex;
    position: relative;

    img {
        display: inline-block;
        width: auto;
        max-width: 100%; 
        align-self: flex-start;
        margin: 0 auto;
    position: sticky;
    top: 0;

        &:not(.profile-headshot) {
            // align-self: flex-end;
            }
        }
    }

.about-text {
    p {
        margin-bottom: 16px;
        }
    
    ul {
        margin-left: 1rem;
        }
    
    b {
        margin-right: 4px;
        }
    }

@media (max-width: 670px) {
    .about-content {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        // background-color: #fff;
        margin: 0 -24px;
        
        &.about-content--asw {
            background-image: url(../images/asw-bg.jpg); 
            }
        &.about-content--moh {
            background-image: url(../images/moh-bg.png);
            }
        &.about-content--bha {
            background-image: url(../images/bha-bg.png);
            }
        &.about-content--act {
            background-image: url(../images/act-bg.png);
            background-size: contain;
            }
        }
    .about-portrait {
        display: none;
        }
    .about-text {
        max-width: 70%;
        position: relative;
        z-index: 1;
        background-color: transparentize(darken($primaryThemeColor, 40), .13);
        margin-left: auto;
        padding: 24px;

        h2 {
            font-size: 1.4rem;
            margin-bottom: 12px;
            }
        }
    }

.about-text--spec {
    align-self: flex-end;
    }   

.about-spec-images {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;

    a {
        width: calc(33.333% - 6px);
        max-width: calc(33.333% - 6px);
        align-self: flex-start;

        img {
            width: 100%;
            max-width: 100%;
            display: block;
            }
        }
    }