.news {
    display: flex;
    flex-direction: column;
    }

.news-item {
    display: flex;
    margin-bottom: 48px;

    + .news-item {
        border-top: 1px solid $secondaryThemeColor;
        padding-top: 48px;
        }
    }

@media (max-width: 700px) {
    .news-item {
        flex-direction: column;
        }
    }

.news-item-desc {
    h2 {
        margin-bottom: 12px;
        font-size: 1.8rem;

        + p:not(.news-item-venue) {
            margin-top: 24px;
            }
        }
    }

.news-item-venue {
    margin-bottom: 24px;
    font-style: italic;
    }

.news-thumb-wrapper {
    display: flex;
    min-width: 400px;
    text-align: center;
    margin-right: 32px;
    }

@media (max-width: 700px) {
    .news-thumb-wrapper {
        min-width: auto;
        margin-right: 0;
        margin-bottom: 24px;
        }
    }

.news-thumb {
    flex: 1;
    
    + .news-thumb {
        margin-left: 8px;
        }

    img {
        max-width: 100%;
        max-height: 300px;
        }
    }

