.section-seperator {
    border: 0;
    height: 96px;
    display: block;
    background-image: 
        linear-gradient(
            darken($primaryThemeColor, 10),
            transparent
            );
    // border-top: 1px solid lighten($primaryThemeColor, 15);
    // box-shadow: 0 -20px 10px -10px transparentize(darken($primaryThemeColor, 10), .3);
    position: relative;
    margin: 48px -96px 0;

    &:before {
        content: '';
        background-image: url(../images/main-bg.png);
        background-attachment: fixed;
        position: absolute;
        height: 2px;
        top: 0;
        left:0; 
        right: 0;
        }
    }

@media (max-width: 670px) {
    .section-seperator {
        margin: 48px -24px 0;
        }
    }

.dl-btn {
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.374);
    transform: skewX(-25deg);
    display: inline-block;
    color: $secondaryThemeColor;
    transition: .2s;

    span {
        display: block;
        transform: skewX(25deg);
        }

    &:hover {
        background-color: transparentize($secondaryThemeColor, .6);
        color: lighten($primaryThemeColor, 98);
        }
    }

@media (max-width: 670px) {
    .dl-btn {
        background-color: rgba(84, 22, 37, 0.574);
        color: $secondaryThemeColor;

        &:hover {
            background-color: transparentize($secondaryThemeColor, .6);
            color: lighten($primaryThemeColor, 98);
            }
        }
    }